<section ng-controller="PhotosController" ng-init="search()" class="flickr-feed">
  <div class="page-header">
    <h1>Public Feed</h1>
  </div>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="flickr-search">Tags</label>
      <input class="form-control" id="flickr-search" placeholder="Comma Separated Tags" ng-model="tags" ng-keyup="$event.keyCode == 13 && search()">

    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="flickr-search-button" ng-click="search(tags)">Search</button>
    </div>
    <span class="feed-error" ng-show="feedSearchFailure">Sorry, we experienced a technical problem.</span>
    <span class="resultCount" ng-show="imageSearched">
      <ng-pluralize count="photos.length" when="{'0': 'No photo found.',
                             'other': '{} photos found.'}">
      </ng-pluralize>
    </span>
  </form>

  <div class="content">
    <ng-gallery images="photos" thumbs-num="4"></ng-gallery>
  </div>
</section>
