.feed-error, .resultCount {
  display: block;
  margin: 5px;
  padding: 3px;
}
.flickr-feed{
  margin:20px
}
.container{
  margin-left: 20px;
  margin-right: 20px;
}

.content .ng-gallery {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.content .ng-thumb {
  height: 150px;
  width: 150px;
  overflow: hidden;
  position: relative;
  margin: 5px 5px 0 0;
  display: inline-block;
}
.content .ng-thumb>img {
  height: 100%;
  min-width: 100%;
  float: left;
  display: block;
  cursor: pointer;
  position: absolute;
}
